@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

* {
    font-family: "Arial";
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Outfit";
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --radius: 0.5rem;
    }
}
